* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  /* colors */
  --bg-color: #161444;
  --text-color: #fff;
  --purple-color: #2c1f33;
  --light-purple-color: #422d4c;
  --dark-blue-color: #070018;
  --orange-color: #f4850f;
  --lilac-color: #5551a1;
  --red-color: #e93b31;
  --h1-color: #070a1a;
  --hallow-color: #ea6058;
  --hallow-to-color: #653489;
  --menu-color: #0000003c;
  --about-box-color: #130d27;
  --about-content-color: #703b2d;

  /* box shadow */

  --dark-box-shadow: 0 0 25px rgba(0, 0, 0, 0.9);
  --light-box-shadow: 0 0 15px rgba(255, 255, 255, 0.497);
  ---dark-text-shadow: 0 0 15px #000000;
  --text-shadow: 0 0 15px #fff;

  /* fonts */

  --menu-font: "Dancing Script", cursive;
  --header-font: "frankenweenieregular";
}
/* fonts import*/
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

html {
  min-height: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
/* body */
body {
  background-color: var(--bg-color);
  width: 100%;
  height: 100%;
  overflow-x: hidden !important;
}
/* width */
::-webkit-scrollbar {
  width: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: transparent;
}

.container,
.about,
.cards-container,
.footer {
  margin: auto;
}

/* header container */
.content-container {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  width: 80%;
  height: 90%;
  position: relative;
  background-image: url(/assets/images/ghost-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 25px;
  box-shadow: var(--dark-box-shadow);
  z-index: 1;
}
.container .menu .logo {
  padding-left: 50px;
  position: absolute;
  top: 0%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
}
.container .menu .logo img {
  width: 50px;
}
.container .menu {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  width: 100%;
  height: 70px;
  top: 0;
  position: absolute;
  background-color: var(--menu-color);
}
.container .menu ul {
  position: relative;
  width: 100%;
  height: 100%;
  gap: 100px;
  font-size: 17px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  z-index: 5;
}
.container .menu ul li a {
  text-decoration: none;
  font-style: italic;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
  color: var(--text-color);
  transition: 300ms all;
}
.container .menu ul li a:hover {
  color: var(--hallow-color);
  text-shadow: var(--text-shadow);
  cursor: pointer;
}
.container .menu .social {
  position: absolute;
  top: 0;
  right: 50px;
  display: flex;
  align-items: center;
  height: 100%;
  gap: 20px;
  z-index: 5;
}
.container .menu .social a {
  transition: 300ms all;
}
.container .menu .social a:hover {
  transform: scale(1.25);
}
/* content */
.container .content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 70px;
  width: 100%;
  height: 100%;
}
/* content h1 */
.container .content .hallow {
  padding-top: 80px;
  width: 100%;
  max-width: 100%;
  font-family: "frankenweenieregular";
  font-size: 80px;
  letter-spacing: 7px;
  text-align: center;
  color: var(--h1-color);
  text-shadow: var(--text-shadow);
  animation: hallow 3s infinite;
  animation-timing-function: 10s;
}
/* h1 animation */
@keyframes hallow {
  0% {
    color: var(--hallow-color);
    text-shadow: var(--text-shadow);
  }
  50% {
    color: var(--hallow-to-color);
    text-shadow: var(--text-shadow);
  }
  100% {
    color: var(--hallow-color);
    text-shadow: var(--text-shadow);
  }
}
/* content witch image */
.container .content .witch {
  width: 300px;
  height: auto;
  position: absolute;
  padding-bottom: 200px;
  z-index: -1;
  animation: 3s ease-in-out 0.33s infinite normal none running witch;
}
@keyframes witch {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
.container .content p {
  width: 500px;
  max-width: 100%;
  color: var(--text-color);
  font-size: 17px;
  text-align: center;
  font-style: italic;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}
.container .content .join {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-family: "frankenweenieregular";
  cursor: pointer;
  border-radius: 25px;
  background-color: var(--hallow-to-color);
  color: var(--hallow-color);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  transition: 500ms all;
  -webkit-transition: 500ms all;
  -moz-transition: 500ms all;
  -ms-transition: 500ms all;
  -o-transition: 500ms all;
}
.container .content .join:hover {
  box-shadow: var(--light-box-shadow);
  background-color: var(--hallow-color);
  color: var(--hallow-to-color);
}

/* About */

.about {
  margin-top: 150px;
  display: flex;
  width: 80%;
  height: 90%;
  background-image: url(/assets/images/about-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: var(--dark-box-shadow);
  border-radius: 25px;
}
.about .img {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about .img .ghost {
  width: 800px;
  height: auto;
  position: absolute;
  opacity: 0.75;
  animation: 3s ease-in-out 0.33s infinite normal none running ghost;
}
@keyframes ghost {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(15px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
.about .about-content {
  gap: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  height: 100%;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}
.about .about-content h1 {
  text-align: center;
  font-size: 30px;
  font-family: var(--menu-font);
  color: var(--text-color);
}
.about .about-content p {
  width: 500px;
  height: 600px;
  max-width: 100%;
  overflow: auto;
  color: var(--text-color);
  font-size: 17px;
  line-height: 2em;
  text-align: center;
  font-style: italic;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}
/* Trick or Treat */
.t-o-t {
  font-size: 100px;
  color: var(--hallow-color);
  text-align: center;
  margin-top: 150px;
  font-family: var(--header-font);
  animation: tot 1.25s infinite;
  animation-timing-function: 10s;
}
@keyframes tot {
  0% {
    color: var(--red-color);
    text-shadow: var(--text-shadow);
  }
  50% {
    color: var(--lilac-color);
    text-shadow: var(--text-shadow);
  }
  100% {
    color: var(--red-color);
    text-shadow: var(--text-shadow);
  }
}
/* Cards */
.cards-container {
  margin-top: 100px;
  width: 80%;
}
.cards {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 350px;
  height: 600px;
  border-radius: 25px;
  box-shadow: var(--dark-box-shadow);
  transition: 500ms all;
}
.card:hover {
  cursor: pointer;
  transition: 500ms all;
  animation: card-fly 2s ease-in-out infinite normal none running;
  box-shadow: 0 0 15px #ffffff46;
}
@keyframes card-fly {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
.card h1 {
  color: var(--text-color);
  font-size: 30px;
  text-align: center;
  padding-top: 20px;
  font-family: var(--menu-font);
  text-shadow: var(--text-shadow);
}
.card .ticket-img {
  width: auto;
  height: 300px;
  margin: auto;
}
.card:nth-child(1) {
  background: rgb(22, 20, 68);
  background: linear-gradient(0deg, rgb(30, 28, 76) 0%, rgb(56, 87, 140) 100%);
}
.card:nth-child(2) {
  background: rgb(95, 31, 97);
  background: linear-gradient(
    0deg,
    rgba(95, 31, 97, 1) 0%,
    rgba(209, 93, 85, 1) 100%
  );
}
.card:nth-child(3) {
  background: rgb(31, 26, 26);
  background: linear-gradient(0deg, rgb(56, 48, 140) 0%, rgb(89, 85, 164) 100%);
}
.cards-container .cards .card .card-price {
  color: var(--text-color);
  text-shadow: var(--text-shadow);
  font-size: 25px;
  text-align: center;
  font-family: var(--menu-color);
  padding-top: 10px;
}
.cards-container .cards .card .ticket-button {
  margin: auto;
  width: 200px;
  box-shadow: 0 0 40px 0 rgba(255, 255, 255, 0.2);
  height: 50px;
  border-radius: 25px;
  border: none;
  color: var(--text-color);
  font-size: 20px;
  font-family: var(--menu-font);
  transition: 500ms all;
  margin-top: 20px;
}
.cards-container .cards .card:nth-child(1) .ticket-button {
  background-color: #354f83;
  color: #ffffff;
  text-shadow: var(--text-shadow);
}
.cards-container .cards .card:nth-child(2) .ticket-button {
  background-color: #cb5a55;
  color: #ffffff;
  text-shadow: var(--text-shadow);
}
.cards-container .cards .card:nth-child(3) .ticket-button {
  background-color: #5753a3;
  color: #ffffff;
  text-shadow: var(--text-shadow);
}
.cards-container .cards .card .ticket-button:hover {
  box-shadow: var(--light-box-shadow);
  cursor: pointer;
  transform: scale(1.05);
}

.card .card-description {
  text-align: center;
  width: 100%;
}

.card .card-description ul {
  list-style-type: none;
}

.card .line {
  width: 80%;
  height: 0.1px;
  background-color: #fff;
  margin: auto;
}

.card .card-description ul li {
  color: #fff;
  font-weight: semibold;
  font-size: 16pt;
  text-shadow: var(--text-shadow);
  position: relative;
}

.card .card-description ul li:last-child {
  padding-bottom: 20px;
}

.card .card-description ul li::before {
  content: "-";
  position: absolute;
  left: 40px;
}

/* footer  */

.footer {
  position: relative;
  margin-top: 150px;
  width: 80%;
  height: 300px;
  border-radius: 25px;
  box-shadow: var(--dark-box-shadow);
  background-image: url(/assets/images/footer-bg-no-book.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.footer .book {
  position: absolute;
  width: 220px;
  height: auto;
  left: 390px;
  top: 60px;
  animation: book 4s ease-in-out infinite normal none running;
}

@keyframes book {
  0% {
    transform: translate(0px, 0px);
  }

  50% {
    transform: translate(0px, -20px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
/* .footer .social-m {
} */

/* MEDIA SCREEN */

@media screen and (max-width: 1300px) {
  /* HEADER */

  .container .content .menu ul {
    display: none;
  }

  /* ABOUT */
  .about {
    flex-direction: column;
  }

  .about .about-content {
    width: 100%;
    justify-content: inherit;
  }

  .about .img {
    width: 100%;
  }

  .about .img .ghost {
    width: 40%;
    height: auto;
  }
  .about .about-content p {
    height: 300px;
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    background-position: 65%;
  }

  .about .img .ghost {
    width: 60%;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .container {
    background-position: 65%;
  }

  .about .img .ghost {
    width: 80%;
    height: auto;
  }

  .about .about-content p {
    height: 300px;
    width: 90%;
  }

  .footer {
    background-position: 16%;
  }

  .footer .book {
    left: 150px;
  }
}

@media screen and (max-width: 500px) {
  .container .content .hallow {
    font-size: 60px;
  }

  .footer .book {
    left: 130px !important;
  }
}

@media screen and (max-width: 400px) {
  .container .content .hallow {
    font-size: 50px;
  }
}

@media screen and (max-width: 375px) {
  .container .content .menu .logo {
    display: none;
  }

  .footer .book {
    left: 115px !important;
  }
}

@media screen and (max-width: 280px) {
  .card {
    margin: 4px;
  }
  .footer .book {
    width: 160px;
    top: 120px;
    left: 100px !important;
  }
}
